<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="sidebar" class="p-3 space-y-1">
  <!-- Mes réservations : ADMIN et USER -->
  <a th:href="@{/my-reservations}" class="block px-3 py-2 rounded hover:bg-gray-100"
     sec:authorize="hasAnyRole('ADMIN','USER')">
    Mes réservations
  </a>

  <!-- Paramétrage : ADMIN -->
  <a th:href="@{/admin/settings}" class="block px-3 py-2 rounded hover:bg-gray-100"
     sec:authorize="hasRole('ADMIN')">
    Paramétrage
  </a>
</div>
</body>
</html>
